name: app_logger
description: A simple logger wrapper for Chenron.
version: 0.0.1
publish_to: 'none'
resolution: workspace

environment:
  sdk: '>=3.5.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  logging: ^1.2.0
  path: ^1.9.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
